* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    border: 0px;
    
}


.app {
    background-size: cover;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    background-color: #E5DCC3;
}